<template>
  <!-- Главный контейнер компонента -->
  <div>
    <!-- Подключение компоненты навигационной панели -->
    <Navbar/>
    <div class="container container-fluid">
      <!-- Если корзина пуста, выводим сообщение -->
      <div class="text-secondary fs-5 badge card-badge" v-if="cartItems.length === 0">Корзина пуста</div>
    </div>
    <!-- Контейнер для отображения продуктов в корзине -->
    <div class="container my-5">
      <!-- Итерация по уникальным идентификаторам продуктов в корзине -->
      <div class="d-flex  align-items-end mt-2" v-for="(productId, index) in uniqueProductIds" :key="index">
        <!-- Подключение компоненты CartItem для отображения продукта в корзине -->
        <CartItem :product="getProductById(productId)" @removeFromCart="getProductById(productId)"/>
        <!-- Контейнер для кнопок управления количеством продукта в корзине -->
        <div class="mb-4" style="margin-left: -100px;">
          <!-- Кнопка "Увеличить количество продукта в корзине" -->
          <btn class="btn me-2 bucket-btn mb-10 shadow" @click="addToCart(getProductById(productId))">+</btn>
          <!-- Отображение количества продукта в корзине -->
          <span class="text-secondary fs-6 badge card-badge"> {{ cartItemCounts[productId] }}</span>
          <!-- Кнопка "Уменьшить количество продукта в корзине" -->
          <btn class="btn ms-2 bucket-btn mb-1 shadow" @click="removeOneFromCart(getProductById(productId))">-</btn>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {useCartStore} from '@/stores/counter'; // Импорт хранилища корзины
import CartItem from '@/components/CartItem.vue';
import Navbar from "@/components/Navbar.vue"; // Импорт компоненты CartItem

export default {
  components: {
    Navbar, // Зарегистрированная компонента Navbar
    CartItem, // Зарегистрированная компонента CartItem
  },
  computed: {
    // Вычисляемое свойство для подсчета количества каждого продукта в корзине
    cartItemCounts() {
      const cartStore = useCartStore();
      const counts = {};
      for (const item of cartStore.cartItems) {
        if (counts[item.id]) {
          counts[item.id]++;
        } else {
          counts[item.id] = 1;
        }
      }
      return counts;
    },
    // Вычисляемое свойство для получения списка продуктов в корзине
    cartItems() {
      const cartStore = useCartStore();
      return cartStore.cartItems;
    },
    // Вычисляемое свойство для получения уникальных идентификаторов продуктов в корзине
    uniqueProductIds() {
      // Get an array of unique product IDs in the cart
      const uniqueIds = new Set(this.cartItems.map(item => item.id));
      return Array.from(uniqueIds);
    },
  },

  methods: {
    // Метод для добавления продукта в корзину
    addToCart(product) {
      const cartStore = useCartStore();
      cartStore.addToCart(product);
    },
    // Метод для уменьшения количества продукта в корзине на 1
    removeOneFromCart(product) {
      const cartStore = useCartStore();
      const index = this.cartItems.findIndex(item => item.id === product.id);
      if (index !== -1) {
        cartStore.removeFromCart(product);
      }
    },
    // Метод для удаления продукта из корзины
    removeFromCart(product) {
      const cartStore = useCartStore();
      cartStore.removeFromCart(product);
    },
    // Метод для получения продукта по его идентификатору
    getProductById(productId) {
      // Retrieve the product object by ID
      return this.cartItems.find(item => item.id === productId);
    },
    goToProductList() {
      this.$router.push('/');
    }
  },
};
</script>
<style scoped>
.card-img {
  max-width: 240px;
}

.bucket-btn {
  background: rgb(255, 255, 255);
  color: rgb(186, 149, 126);
  font-size: 0.6rem;
  padding: 0.25rem 0.55rem;
}

.card-badge {
  background: #33333226;
  font-size: 14px;
}
</style>