<template>
  <!-- Подключение компоненты навигационной панели -->
  <Navbar/>
  <!-- Контейнер для отображения продуктов -->
  <div class="container my-5">
    <div class="row">
      <!-- Итерация по продуктам -->
      <div class="col-xxl-3 col-lg-4 col-md-6" v-for="product in products" :key="product.id">
        <div class="d-flex justify-content-center">
          <!-- Карточка продукта -->
          <div class="card mb-5" style="width: 18rem;">
            <!-- Изображение продукта -->
            <img class="card-img-top" :src="product.image || 'src/assets/no-img.png'" :alt="product.title">
            <div class="card-body">
              <!-- Название продукта -->
              <h5 class="card-title mb-5">{{ product.title }}</h5>
              <div class="d-flex justify-content-between">
                <!-- Цена продукта -->
                <p class="card-text">Цена: {{ product.price }}&#8381.</p>
                <!-- Кнопка "Добавить в корзину" -->
                <a @click="addToCart(product, $event)" href="#" class="">
                  <img alt="bucket" src="src/assets/bucket.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Кнопка "Показать еще" -->
    <div @click="showMoreButton" class="d-flex justify-content-end mx-3">
      <button v-if="allProducts.length!=products.length"
              class="btn btn-ligth px-4 py-1 fw-bold shadow p-3 mb-5 bg-white rounded btn-more">Показать еще
      </button>
    </div>
  </div>
</template>
<script>
import Navbar from "@/components/Navbar.vue";
import {useCartStore, useProductStore} from "@/stores/counter"; // Import the stores
export default {
  components: {
    Navbar // Зарегистрированная компонента Navbar
  },
  data() {
    return {
      productsPerPage: 4, // Количество продуктов на странице
      currentPage: 1, // Текущая страница
      error: null,// Переменная для обработки ошибок
    }
  },
  computed: {
    // Вычисляемое свойство для получения всех продуктов из хранилища
    allProducts() {
      const productStore = useProductStore()
      return Object.values(productStore.products);
    },
    // Вычисляемое свойство для получения продуктов на текущей странице
    products() {
      const startIndex = (this.currentPage - 1) * this.productsPerPage;
      const endIndex = startIndex + this.productsPerPage;
      return this.allProducts.slice(0, endIndex);
    },
  },
  methods: {
    // Метод для обработки нажатия кнопки "Показать еще"
    showMoreButton() {
      if (this.currentPage * this.productsPerPage < this.allProducts.length) {
        this.currentPage++;
      }
    },
    // Метод для добавления продукта в корзину
    addToCart(product) {
      const cartStore = useCartStore()
      cartStore.addToCart(product)
      event.preventDefault();
    },
    loadMore() {
      this.currentPage++
    },
    // Метод для перехода в корзину
    goToCart() {
      this.$router.push('/cart');
    }
  }
}
</script>

<style scoped>
.btn-more {
  &:hover,
  &:focus,
  &:active {
    color: #b99981;
    transition: .4s;
  }
}
</style>