<template>
  <!-- Карточка товара в корзине -->
  <div class="d-flex mb-3">
    <div class="d-flex mb-3">
      <!-- Изображение товара (или заглушка, если изображение отсутствует) -->
      <img class="card-img" :src="product.image || 'src/assets/no-img.png'" :alt="product.title">
    </div>
    <!-- Информация о товаре -->
    <div class="d-flex align-content-between">
      <div class="d-grid mx-3 align-content-between" style="min-width: 250px">
        <!-- Название товара -->
        <h3 class="mb-5 mt-2">{{ product.title }}</h3>
        <!-- Цена товара -->
        <p class="mt-2 fs-5">{{ product.price }}&#8381</p>
      </div>
      <!-- Кнопка удаления товара из корзины -->
      <div><a href="#" style="margin-left: 145px;" class="cursor-pointer fs-3 text-decoration-none link-secondary"
              @click="removeFromCart">&#9747</a>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from 'vue';
import {useCartStore} from "@/stores/counter"; // Импорт хранилища корзины

export default defineComponent({
  props: {
    product: Object, // Пропс с информацией о товаре
  },
  methods: {
    // Метод для удаления товара из корзины
    removeFromCart() {
      const cartStore = useCartStore();
      const productIndex = cartStore.cartItems.findIndex(item => item.id === this.product.id);

      if (productIndex !== -1) {
        // Удаление товара из массива корзины
        cartStore.cartItems = cartStore.cartItems.filter(item => item.id !== this.product.id);

        // Обновление данных корзины в локальном хранилище
        localStorage.setItem('cartItems', JSON.stringify(cartStore.cartItems));
      }
    },
  },
});
</script>

<style scoped>
</style>