<template>
  <!-- Верхний уровень компонента корзины -->
  <div class="cart">
    <h2>Корзина</h2>
    <!-- Если корзина пуста, выводим сообщение -->
    <div v-if="cartItems.length === 0" class="cart-box">Корзина пуста</div>
    <!-- Если в корзине есть товары, отображаем их -->
    <div v-else>
      <div v-for="item in cartItems" :key="item.id" class="cart-item">
        <!-- Встраиваем компоненту CartItem для отображения товара -->
        <CartItem :product="item" @removeFromCart="removeFromCart(item)"/>
      </div>
    </div>
    <!-- Кнопка для перехода в каталог товаров -->
    <button @click="goToProductList" class="button">Перейти в каталог</button>
  </div>
</template>

<script>
import {useCartStore} from '@/stores/counter'; // Импорт хранилища корзины
import CartItem from '@/components/CartItem.vue'; // Импорт компоненты CartItem

export default {
  components: {
    CartItem,// Зарегистрированный компонент CartItem
  },
  computed: {
    // Вычисляемое свойство для получения элементов корзины из хранилища
    cartItems() {
      const cartStore = useCartStore();
      return cartStore.cartItems;
    },
  },
  methods: {
    // Метод для удаления товара из корзины
    removeFromCart(product) {
      const cartStore = useCartStore();
      cartStore.removeFromCart(product);
    },
    goToProductList() {
      // Метод для перехода в каталог товаров
      this.$router.push('/');
    }
  },
};
</script>
<style scoped>
</style>