<template>
  <!-- Верхний уровень компонента Navbar -->
  <div class="z-3 position-sticky top-0">
    <nav class="navbar navbar-expand-lg bg-white">
      <div class="container container-fluid">
        <!-- Логотип в навигационной панели -->
        <img class="navbar-logo" src="./../assets/logo.png"/>
        <div class="d-flex justify-content-end">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Элементы навигации (ссылки) -->
            <li>
              <!-- Ссылка на главную страницу с классом активности -->
              <router-link :to="{ path: '/' }" class="navbar-item mx-3" active-class="active">Главная</router-link>
            </li>
            <li>
              <!-- Ссылка на страницу корзины с количеством товаров в корзине -->
              <router-link :to="{ path: '/bucket' }" class="navbar-item mx-3" active-class="active">
                Корзина
                <span class="position-absolute text-secondary badge navbar-badge">+{{cartItems}}</span>
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import {useCartStore} from "@/stores/counter";

export default {
  name: 'Navbar',
  computed: {
    // Вычисляемое свойство для получения количества товаров в корзине
    cartItems() {
      const cartStore = useCartStore();
      return cartStore.cartItemCount;
    },
  },
}
</script>

<style>
.navbar-logo {
  max-width: 200px;
}
.navbar-item{
  color: #b99981;
  text-decoration: none;
  font-size: 24px;
  &:hover,
  &:focus,
  &:active,
  &.active{
    color: #333332;
    transition: .4s;
  }
}
.navbar-badge {
  background: #33333226;
  font-size: 14px;
}
</style>