<template>
  <!-- Список продуктов -->
  <div class="product-list">
    <!-- Итерация по продуктам -->
    <div v-for="product in allProducts" :key="product.id" class="product-item">
      <!-- Изображение продукта -->
      <img :src="product.image" :alt="product.title" class="product-image"/>
      <!-- Название продукта -->
      <h2>{{ product.title }}</h2>
      <!-- Цена продукта -->
      <p>Цена: {{ product.price }} Рублей</p>
      <!-- Кнопка "Добавить в корзину" -->
      <button @click="addToCart(product)">Добавить в корзину</button>
    </div>
  </div>
  <!-- Кнопка "Показать еще", отображается если есть еще продукты -->
  <button v-if="showMoreButton" @click="loadMore" class="button-load-more">Показать еще</button>
  <!-- Кнопка "Перейти в корзину" -->
  <button @click="goToCart" class="button-go">Перейти в корзину</button>
</template>
<script>
import {useCartStore, useProductStore} from "@/stores/counter"; // Import the stores
export default {
  data() {
    return {
      productsPerPage: 4, // Количество продуктов на странице
      currentPage: 1  // Текущая страница
    }
  },
  computed: {
    // Получение всех продуктов из хранилища
    allProducts() {
      const productStore = useProductStore()
      return Object.values(productStore.products);
    },
    // Вычисляемые свойства для текущей страницы продуктов
    products() {
      const startIndex = (this.currentPage - 1) * this.productsPerPage;
      const endIndex = startIndex + this.productsPerPage;
      return this.allProducts.slice(startIndex, endIndex);
    },
    // Отображение кнопки "Показать еще" если есть еще продукты
    showMoreButton() {
      return this.currentPage * this.productsPerPage < this.allProducts.length
    }
  },
  methods: {
    // Метод для добавления продукта в корзину
    addToCart(product) {
      const cartStore = useCartStore()
      cartStore.addToCart(product)
    },
    // Метод для загрузки следующей страницы продуктов
    loadMore() {
      this.currentPage++
    },
    // Метод для перехода в корзину
    goToCart() {
      this.$router.push('/cart');
    }
  }
}
</script>
<style>
</style>